.demo {
    width: 800px;
    height: 300px;
    margin: 0 auto;
}

.demo ul {
    display: flex;
    flex-wrap: wrap;
}

.demo ul li {
    width: 180px;
    height: 180px;
    overflow: hidden;
    list-style-type: none;
    margin: 0 5px 10px;
}

#demo1 img {
    height: 180px;
}